*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#sidebar
{
    position: fixed;
    width: 200px;
    height: 100%;
    left: -200px;
    background: #151719;
    transition: all 500ms linear;
}
#sidebar.active
{
    left: 0px;
}
#sidebar.close
{
    left: -200px;
}
#sidebar ul li
{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn
{
    position: absolute;
    left: 230px;
    top: 230px;
}
#sidebar .toggle-btn span
{
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 3px 0px;    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(walker.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float:right;
    list-style: none;
    margin-top: 30px;
    
}
.main-nav li
{
    display: inline;
    text-align: center;
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    
}

.main-nav li.active a
{
    border: 1px solid white;
}
.main-nav li a:hover
{
    border: 1px solid white;    
}
.logo img
{
    width: 100px;
    height: 100px;
    float: left;
    opacity: 0.3;
}
body
{
    font-family: monospace;
    
}
.row
{
    max-width: 1200px;
    margin: auto;
}
.services
{
    font-family: "Roboto",sans-serif;
}
.services:hover
{
    background-color: darkturquoise;
    transition: all 0.5s ease-in;

}
.about
{
    font-family: "Roboto",sans-serif;
}
.about:hover
{
    background-color: darkturquoise;
    transition: all 0.2s ease-in;

}
.contact
{
    font-family: "Roboto",sans-serif;
}
.contact:hover
{
    background-color: darkturquoise;
    transition: all 0.2s ease-in;

}
.news
{
    font-family: "Roboto",sans-serif;
}
.news:hover
{
    background-color: darkturquoise;
    transition: all 0.2s ease-in;

}
.faq
{
    font-family: "Roboto",sans-serif;
}
.faq:hover
{
    background-color: darkturquoise;
    transition: all 0.2s ease-in;

}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 100px;
    margin-top: 35px;
}
h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}
.button
{
    margin-top: 30px;
    margin-left: 450px;
}
.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: black;
    font-family: "Roboto",sans-serif;
}
.btn-two
{
    font-family: "Roboto",sans-serif;
}
.btn-two:hover
{
    background-color: darkturquoise;
    transition: all 0.5s ease-in; 
}
footer
{
    background-color: black;
}
h4
{
    margin-top: cover;
}
